<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">

<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link type="text/css" rel="stylesheet" href="materialize/css/materialize.css"  media="screen,projection"/>
<link type="text/css" rel="stylesheet" href="materialize.min.css"  media="screen,projection"/>

<title>Insert title here</title>
</head>
<body>

<h1>Olá springboot</h1>


<a class="waves-effect waves-light btn" href="/cadastropessoa">Cadastro pessoa</a>

	<script type="text/javascript" src="materialize/js/materialize.min.js"></script>
	<script type="text/javascript" src="materialize/js/materialize.js"></script>
</body>
</html>